@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300;500;800&family=Poppins:wght@200;400;500;900&display=swap');

html{
  box-sizing: border-box;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root{
  --textColor: rgb(88, 88, 88);
  --letterSpaceSm: 0.1em;
  --letterSpaceMd: 0.2em;
  --letterSpaceLg: 0.4em;
  --fontSerif: 'Roboto Serif', serif;
  --fontSans: 'Poppins', sans-serif;
  --darkYellow: #ff8e0d;
  --lightYellow: wheat;
  --cribzBlue: #337180;
  --darkBlue: #094958;
  --footerBlue: #003642;
  --lightGrey: #eeeded;
  --lightGreen: #1aac83;
  --darkGreen: #159470;
  --darkGrey: grey;
  --searchBarBackground: rgba(92, 90, 90, 0.726);
}

.navBar {
  position: fixed;
  top: 0; 
  width: 100%;
  z-index: 9999;
  height: 3em;
  display: flex;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  background-color: white;
}

.brandIcon {
  height: 2em;
  margin-right: 5px;
}

.brand {
  font-family: var(--fontSerif);
  font-weight: 800;
  font-size: 20px;
  color: var(--cribzBlue);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.315);
  text-decoration: none;
  margin-left: 1em;
}

.navRight {
  width: 33%;
  height: 3em;
  margin-left: auto;
  margin-right: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2%;
  font-family: var(--fontSans);
  color: var(--textColor);
  font-size: 14px;
  text-align: center;
}

.navRight div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navRight div:hover {
  cursor: pointer;
  font-weight: bold;
  color: var(--cribzBlue);
  border-radius: 12px;
  background: var(--lightGrey);
}

body {
  width: 100vw;
  height: 100vh;
}

.hero {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /*border-radius: 8px;*/
  background: url(./images/heroImage.jpg);
  background-position: center;
  background-size: cover;
  align-items: center;
  /*margin-inline: 6px;*/
  margin-top: 46px;
}

.jumboText {
  font-family: var(--fontSans);
  font-size: 85px;
  font-weight: 900;
  color: var(--darkYellow);
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}

.index0, .index2, .index4, .index5, .index9, .index11, .index12, .index13 {
  grid-row: span 3;
}

.index1, .index3, .index6, .index7, .index8, .index10, .index14, .index15 {
  grid-row: span 2;
}

.fixedTopSearch {
  position: fixed;
  z-index: 9999;
  top: 70px;
  margin-left: 26%;
}

.mapDiv {
  width: 52vw;
  height: 92%;
  border-radius: 5px;
  border: 1px solid white;
  position: fixed;
  top: 53px;
  left: 47%;
  box-shadow: 4px 4px 8px rgb(122, 122, 122);
}

.greySpace {
  /*background: var(--darkGrey);*/
  background: lightGrey;
}

.searchInputLocation {
	border: none;
  border-right: 1px solid white;
  height: 35px;
  width: 200px;
  text-align: center;
  font-family: var(--fontSans);
  font-size: 14px;
  color: var(--textColor);
  background: var(--searchBarBackground);
  color: white;
}

.searchInputLocation::placeholder {
	font-style: italic;
	color: white;
	font-weight: 200;
}

.searchInputLocation:hover {
	cursor: text;
}

.searchInputBedrooms {
  height: 35px;
  width: 200px;
  text-align: center;
  font-family: var(--fontSans);
  font-size: 14px;
  color: var(--textColor);
  background: var(--searchBarBackground);
  color: white;
}

.searchInputBedrooms:hover {
	cursor: pointer;
}

.butnPill {
	border-radius: 2rem;
  padding-inline: 16px;
  height: 35px;
  border: none;
  font-family: var(--fontSans);
  font-weight: 200;
  font-size: 14px;
  color: white;
  background: var(--lightGreen);
}

.butnPill:hover {
	background: var(--darkGreen)
}

.leftPill {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.butn {
  background: var(--lightGreen);
  border-radius: 8px;
  padding-inline: 16px;
  height: 35px;
  border: none;
  font-family: var(--fontSans);
  font-weight: 400;
  font-size: 14px;
  color: white;
}

.butn:hover {
	background: var(--darkGreen);
}


.searchIcon {
  height: 1.5rem;
}

.locSearchBar {
	display: flex;
}

.searchButn {
  height: 35px;
  width: 40px;
  border: none;
  border-left: 1px solid white;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background: var(--searchBarBackground);
}

.searchButn:hover {
	background: rgba(70, 68, 69, 0.83);
}

.locSearchBar form {
	height: 35px;
	width: 515px;
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
  background: rgba(92, 90, 90, 0.726);
  font-family: var(--fontSans);
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.locSearchBar input {
  background: transparent;
  border: none;
  border-radius: inherit;
  outline: none;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: 400;
  color: white;
}

.locSearchBar input::placeholder {
  color: white;
  font-style: italic;
  font-weight: 200;
  font-size: 14px;
}

.searchCard {
	padding: 0;
	margin: 3px;
  height: 36vh;
  width: 33%;
  border-radius: 5px;
  font-family: var(--fontSans);
  font-size: 14px;
  letter-spacing: var(--letterSpaceSm);
  background: rgba(255, 255, 255, 0.801);
  box-shadow: 2px 2px 2px rgb(156, 156, 156);
  color: var(--textColor);
  overflow: hidden;
}

.searchCard img {
  width: 100%;
  height: 66%;
  border-radius: 5px 5px 0px 0px;
  margin: 0;
}

.searchCard div {
	height: 40%;
	overflow: hidden;
}

.searchCard:hover {
  background: rgb(255, 255, 255);
  box-shadow: 4px 4px 4px rgb(156, 156, 156);
  cursor: pointer;
  color: black;
}

.paginationDiv {
  display: inline-flex;
  list-style: none;
  justify-content: space-between;
  padding-right: 2em;
  padding-block: 8px;
  margin-left: 33%;
  width: 30%;
  border-radius: 20px;
  background: white;
  font-family: var(--fontSans);
  font-size: 12px;
  font-weight: 500;
}

.paginationDiv:hover {
  box-shadow: 4px 4px 4px rgb(156, 156, 156);

}

.paginationActive a {
  padding-inline: 1em;
  background-color: var(--darkYellow);
  border-radius: 20px;
}

.imgBoxParent {
  height: 300px;
  border-radius: 10px;
  margin-top: 1em;
  margin-inline: 6em;
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  grid-template-rows: 1fr 1fr;
  gap: 0.4em;
  overflow: hidden;
}

.imgBoxChild1 {
  grid-column: 1/span 6;
  grid-row: 1/span 2;
  outline: solid black 1px;
  border-radius: 10px 0px 0px 10px;
}

.imgBoxChild1 img {
  height: 100%;
  width: 100%;
  /*object-fit: cover;*/
  /*overflow: hidden;*/
}

.imgBoxChild2 {
  grid-column: 7/ span 2;
  grid-row: 1;
  outline: solid black 1px;
  border-radius: 0px 10px 0px 0px;
  overflow: hidden;
}

.imgBoxChild2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.imgBoxChild3 {
  grid-column: 7/ span 2;
  grid-row: 2;
  outline: solid black 1px;
  border-radius: 0px 0px 10px 0px;
  overflow: hidden;
}

.imgBoxChild3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.detInfo {
  margin-top: 1em;
  margin-left: 8em;
}

.showInterestDiv {
  margin: 1em;
  margin-right: 8em;
  padding: 1em;
  border: solid black 1px;
  border-radius: 8px;
  width: 100%;
}

.showInterestDiv form input{
  padding: 4px;
  margin-bottom: 8px;
  border: solid black 1px;
  height: 40px;
  border-radius: 8px;
  text-align: center;
}

.showInterestDiv form textarea{
  padding: 4px;
  height: 100px;
  border: solid black 1px;
  border-radius: 8px;
  font-size: 16px;
}

.showInterestDiv form button{
  height: 40px;
}

.detMap {
  margin-left: 8.5em;
  margin-right: 1em;
  margin-bottom: 1em;
  height: 250px;
  padding: 4px;
  border: 1px solid var(--darkGrey);
  border-radius: 18px;
}

.amenitiesDiv {
  margin-inline: 8em;
  border: 1px solid var(--darkGrey);
  border-radius: 18px;
  padding: 1em;

}

.amenitiesDiv div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.reviewsDiv {
  margin-inline: 8em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}



.reviewsDiv div {
  height: 60vh;
  margin: 1em;
  padding-block: 2em;
  padding-inline: 1.5em;
  border: solid black 1px;
  border-radius: 18px;
  overflow: hidden;
  letter-spacing: var(--letterSpaceSm);

}

.outlineCard {
  height: 60vh;
  margin: 1em;
  padding-block: 2em;
  border: 1px solid var(--cribzBlue);
  padding-inline: 1.5em;
  border-radius: 18px;
  overflow: hidden;
  background: transparent;
  letter-spacing: var(--letterSpaceSm);

}

label, input {
	display: block;
}

input {
	width: 100%;
	padding-inline: 4px;
	border: 1px solid var(--lightGrey);
	border-radius: 4px;
	height: 2rem;
}

.signUpForm {
	background: white;
	justify-content: center;
	padding: 2rem;
	border: 1px solid var(--lightGrey);
	border-radius: 0.5rem;
	width: 30vw;
	height: 400px;
}

.signUpForm form button {
	margin-top: 1rem;
}

.logInForm {
	background: white;
	justify-self: center;
	padding: 2rem;
	border: 1px solid var(--lightGrey);
	border-radius: 0.5rem;
	width: 30vw; 
}

.logInForm form button {
	margin-top: 1rem;
}


