html{
  box-sizing: border-box;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root{
  --fontColor: #FFFFFF;
  --letterSpaceSm: 0.1em;
  --letterSpaceMd: 0.2em;
  --letterSpaceLg: 0.4em;
  --fontBrand: 'Roboto-Slab', sans-serif;
  --fontAction: 'Roboto', sans-serif;
  --fontText: 'Poppings', sans-serif;
}


body {
  margin: 0;
  font-family: var(--fontText);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand {
  font-family: var(--fontBrand);
}
